* {
    box-sizing: border-box;
}

header {
    background-color: white;
    display: flex;
    padding: 1em;
}

header div {
    background-color: burlywood;
    border: 1px solid black;
    padding: 1em;
}

/* Cambiar Orden Elementos Flexibles */
header :nth-child(1){
    order: 3;
    flex-basis: 15%; /* Tamaño antes de que el espacio restante se distribuye */
}
header :nth-child(2){
    order: 1;
    flex-basis: 15%;
}

header :nth-child(3){
    order: 2;
    flex-basis: 15%;
    flex-grow: 1; /* Factor crecimiento elemento felx cuando se distribuye el espacio  restante */
}

header :nth-child(4){
    order: 2;
    flex-basis: 15%;
    flex-grow: 2;
}

footer{
    background-color: cadetblue;
    display: flex;
    height: 200px;
    padding: 2em;
    margin-top: 2em;
}

footer div{
    background-color: burlywood;
    border: 1px solid black;
    height: 150px;
}

footer :nth-child(1){
    flex-basis: 20%;
    flex-grow: 1; /* Reparte el espacio a la hora de encoger un elemento */
}

footer :nth-child(2){
    flex-basis: 20%;
    flex-grow: 2; 
}

footer :nth-child(3){
    flex-basis: 20%;
    flex-grow: 1;
}