* {
    box-sizing: border-box;
}

.container {
    background-color: aqua;
    /*FLEX*/
    display: flex;
    flex-direction: row; /* Direccion */
    flex-wrap: wrap; /* Ajuste */
    justify-content: space-around; /* Alineacion horizontal */
    align-items: center; /* Alineacion vertical */
    align-content:center; /* Alineacion de varias lineas */
    height: 200px;
    margin: 20px auto;
    padding: 10px;
    width: 60%;
}

.container div {
    background-color: red;
    border: 1px solid black;
    height: 50px;
}