* {
    box-sizing: border-box;
}

.container {
    background-color: #aaa;
    display: grid;
    grid-column-gap: 10px;/* Separacion entre columnas 10px */
    grid-row-gap: 20px; /* Separacion entre filas */
    grid-template-columns: 20% auto 20%; /* 3 columnas de 20% la primera, 60% la segunda y 20% la tercera*/
    grid-template-rows: repeat(3, 100px); /* 3 filas que son de 100px */
    justify-items: stretch; /* Segun donde quieras poner el contenido*/
    align-items: stretch; /* El contenido estara... */
    /* justify-content: center; alinear */
    /* align-content: center; alinear vertical */
    padding: 1em;
    width: 80%;
}

.container > div {
    background-color: bisque;
    border: 1px solid black;
}