* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #fdf4e7;
    color: #333;
    line-height: 1.6;
}

.header {
    width: 100%;
    background: #c62828;
    color: #fff;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header ul li a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 30px auto;
}

h2 {
    color: #b71c1c;
    margin-bottom: 10px;
}

h3 {
    margin-top: 15px;
    color: #d84315;
}

p, li {
    margin-bottom: 10px;
    text-align: justify;
}

#historia img {
    width: 100%;
    border-radius: 10px;
    margin: 20px 0;
}

.fila{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
    gap: 20px;
}

.fila div {
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.fila div b{
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #c62828;
}

.fila div img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    margin-top: 10px;
    border-radius: 10px;
}

.signi ul {
    list-style: square;
    padding-left: 20px;
}

footer {
    background: #c62828;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 15px;
    text-align: center;
    margin-top: 30px;
}

@media (min-width: 901px) {
    .fila div{
        flex: 0 0 calc(33.333% - 20px);
    }
}

@media (max-width: 900px) and (min-width: 601px){
    .header {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .header ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .fila div{
        flex: 0 0 calc(50% - 20px);
    }

}

@media (max-width: 600px) {

    .fila div {
        min-width: 100%;
    }

    .header a {
        font-size: 18px;
    }
}
